.home-wrapper {
  display: flex;
  width: 100%;
}
/* post */
.home-wrapper .post-wrapper {
  width: 65%;
  height: 100vh;
}

.post-wrapper .container-story {
  height: 110px;
  display: flex;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  border: #d3d3d3 solid 1px;
  border-radius: 5px;
}

.container-story button {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border: #d3d3d3 solid 1px;
  padding: 1px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.33);
}

.container-story button.left::after {
  content: "<";
  font-size: 2rem;
}
.container-story button.right::after {
  content: ">";
  font-size: 2rem;
}

.post-container {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border: #d3d3d3 solid 1px;
  margin-bottom: 30px;
}

.post-container .post-header {
  height: 60px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.post-content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: #d3d3d3 solid 1px;
}
.post-content img {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.post-button {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0px 15px 0px 15px;
  justify-content: space-between;
}
.post-button .btn-left {
  display: flex;
}

.icon-love {
  zoom: 1.2;
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -68px -452px;
}
.icon-message {
  zoom: 1.2;
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -20px -450px;
}
.icon-comment {
  zoom: 1.2;
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: 1px -475px;
}
.icon-save {
  zoom: 1.2;
  width: 23px;
  height: 23px;
  border: none;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -194px -452px;
}

.post-stat {
  display: flex;
  padding: 0px 15px 0px 15px;
  margin: 5px 0px 5px 0px;
}
.post-stat span {
  font-size: 1.4rem;
  font-weight: 600;
}

.post-container .caption-container {
  display: block;
  padding: 0px 15px 0px 15px;
}

.caption-container .caption {
  display: flex;
  align-items: top;
}

.caption span {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 10px;
}
.caption p {
  font-size: 1.2rem;
}
.comment-counter {
  height: 20px;
  padding: 0px 15px 0px 15px;
  margin: 5px 0px 5px 0px;
}
.comment-counter a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 1.3rem;
}

.post-container .comment-container {
  display: block;
  padding: 0px 15px 0px 15px;
}

.comment-container .comment {
  display: flex;
  margin-top: 5px;
  align-items: top;
}

.comment span {
  font-size: 1.3rem;
  font-weight: 600;
  margin-right: 10px;
}
.comment p {
  font-size: 1.2rem;
}

.timestamp {
  height: 20px;
  padding: 0px 15px 0px 15px;
  margin: 5px 0px 5px 0px;
}
.timestamp span {
  color: #d3d3d3;
  font-size: 1.3rem;
}

.send-comment {
  border-top: #d3d3d3 solid 1px;
  height: 50px;
  padding: 15px;
  display: flex;
}

.send-comment a {
  color: #0095f6;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.send-comment input {
  width: 100%;
  height: 30px;
  border: none;
}
.send-comment input:focus {
  outline: none;
}
/* sidenav */
.home-wrapper .side {
  width: 35%;
  height: 100vh;
  max-width: 329px;
}

.side .header-suggestion {
  width: 100%;
  height: 20px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: 100px;
  max-width: inherit;
}

.header-suggestion h3 {
  color: #d3d3d3;
  font-size: 1.4rem;
  font-weight: 600;
}
.header-suggestion a {
  text-decoration: none;
  font-size: 1.3rem;
  color: gray;
  cursor: pointer;
}
.side .suggestion {
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: 123px;
  max-width: inherit;
  padding-left: 25px;
  padding-right: 25px;
}

.side-footer {
  margin-top: 20px;
  width: 100%;
}
.side-footer li::before {
  content: "\ffed";
  margin: 5px;
  font-size: 0.6rem;
}
.side-footer ul {
  width: 100%;
}
.side-footer li {
  display: inline-block;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.side-footer a {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 1rem;
}
