/* Dm */

.disable-scroll {
  overflow-y: ;
}
.message-box {
  height: 98%;
  border-radius: 3px;
  background-color: #fff;
  border: #d3d3d3 solid 1px;
  display: flex;
}

.message-box .contact-list {
  width: 38%;
  min-width: 300px;
  background-color: #fff;
  border-right: #d3d3d3 solid 1px;
  display: flex;
  flex-direction: column;
}

.contact-list .account-list {
  height: 60px;
  order: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  border-bottom: #d3d3d3 solid 1px;
}

.contact-list .account-switch {
  width: 90px;
  margin: 0px auto;
  display: inline-flex;
}

.account-switch button {
  zoom: 1.3;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -357px -333px;
}

.account-switch button:focus {
  outline: none;
}

.account-list .icon-write {
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  justify-content: flex-end;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -223px -450px;
}

.icon-write:focus {
  outline: none;
}

.menu-tab {
  order: 2;
  width: 100%;
  height: 40px;
  border-bottom: #d3d3d3 solid 1px;
}

.menu-tab button {
  height: 100%;
  width: 100px;
  border: none;
  color: #d3d3d3;
  background-color: #fff;
}

.menu-tab button:focus {
  outline: none;
}

.menu-tab button:hover {
  cursor: pointer;
}

.menu-tab button.active {
  color: black;
  border-bottom: black solid 1px;
}

/* Contact list */
ul.contact {
  order: 3;
  overflow: scroll;
  overflow-x: hidden;
}

.contact li {
  height: 80px;
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 10px 0px 0px 15px;
}

.contact li.active {
  background-color: #f0efef;
}

.contact a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contact img {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact h3 {
  font-size: 1.5rem;
  color: black;
  font-weight: 100;
}

.contact p {
  font-size: 1.3rem;
  color: #b6b6b6;
  font-weight: 100;
}

/* content messsage */
.message-box .message-content {
  width: 62%;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-left: #d3d3d3 solid 1px;
}

.message-content span.dm-icon {
  zoom: 1.8;
  width: 58px;
  height: 58px;
  margin-top: 60px;
  position: absolute;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -371px -403px;
}

.message-content .empty-message {
  margin-top: 230px;
  text-align: center;
}

.empty-message h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.empty-message p {
  color: #d3d3d3;
  font-size: 1.2rem;
}

.empty-message button {
  border: none;
  width: 120px;
  height: 35px;
  padding: 2px;
  color: white;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 5px;
  justify-content: center;
  background-color: #0095f6;
}

.empty-message button:focus {
  outline: none;
}

/* Direct message  */
.message-container {
  width: 62%;
  display: flex;
  flex-direction: column;
}

.message-container .header-message {
  width: 100%;
  order: 1;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  border-bottom: #d3d3d3 solid 1px;
  padding: 10px 20px 10px 30px;
}

.header-message .info {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  justify-content: flex-end;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -251px -448px;
}

.header-message .img-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.img-profile img {
  height: 25px;
  border-radius: 50%;
}

.img-profile div {
  margin-left: 10px;
}

.img-profile h3 {
  font-weight: 600;
  font-size: 1.4rem;
}

.img-profile p {
  color: #d3d3d3;
  font-size: 1.2rem;
}

.message-container .input-message {
  height: 70px;
  order: 3;
  padding: 20px;
  display: flex;
  align-items: center;
}

.input-message .border {
  width: 100%;
  height: 45px;
  display: flex;
  border-radius: 50px;
  align-items: center;
  border: #d3d3d3 solid 1px;
}

.border span.emoji {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin: 0px 10px 0px 20px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -282px -448px;
}

.border span.image {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin: 0px 10px 0px 10px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -313px -447px;
}

.border span.heart {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  background: url("../../assets/ig-sprite.png") no-repeat;
  background-position: -344px -448px;
}

.input-message input {
  width: 70%;
  height: 30px;
  border: none;
}

.input-message :focus {
  outline: none;
}

/* chatbox */
.message-container .chat-box {
  order: 2;
  padding: 20px;
  font-size: 1.3rem;
  overflow-y: scroll;
}

.chat-box .chat-me {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: flex-end;
}

.chat-me p {
  max-width: 45%;
  border: none;
  padding: 10px;
  min-height: 30px;
  border-radius: 20px;
  background-color: #efefef;
}

.chat-box .datetime {
  display: flex;
  color: #b6b6b6;
  font-size: 1.3rem;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}
.chat-box .chat-other {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: flex-start;
}

.chat-other img {
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.chat-other p {
  max-width: 42%;
  padding: 10px;
  min-height: 30px;
  border-radius: 20px;
  background-color: #fff;
  border: #d3d3d3 solid 1px;
}
